<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zc.Mapper.UserMapper">

    <select id="selectAll" resultType="zc.Entity.User">
        select * from user
    </select>

    <select id="selectById" resultType="zc.Entity.User">
        select * from user where id=#{id}
    </select>

    <insert id="insertToUser" useGeneratedKeys="true" keyProperty="id">
        insert into user(user_name,password,gender,birthday,dept_id) values(#{userName},#{password},#{gender},#{birthday}
                                                                           ,#{deptId})
    </insert>

    <update id="update">
        update user set user_name=#{userName},password=#{password} where id=#{id}
    </update>

    <delete id="delete">
        delete from user where id=#{id}
    </delete>


    <select id="getAllUserWithDepartment" resultType="zc.Vo.UserVo">
        select
            u.id,u.user_name,d.dept_name,u.gender,u.birthday
        from
            user u
                left join
            department d
            on
                u.dept_id = d.id;
    </select>

    <select id="getUserWithDepartment" resultType="zc.Vo.UserVo">
        select
            u.id,u.user_name,d.dept_name,u.gender,u.birthday
        from
            user u
                left join
            department d
            on
                u.dept_id = d.id
            where u.id = #{id};
    </select>
</mapper>